@using BMISBLayer.Entities
@model PaymentTerm

    <a class="btn btn-primary" href="/PaymentTerm/NewPaymentTerm">Create New PaymentTerm</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Payment Term Name
            </th>
            <th>
                Payment Term Amount
            </th>
            <th>
                Payment Term Date
            </th>
            <th>
                Deliverable
            </th>
            


        </tr>
    </thead>
    <tbody>

        @foreach (var p in (List<PaymentTerm>)ViewBag.PaymentTerm)
        {
            Deliverable pp = (Deliverable)ViewBag.Deliverable;

            if (@p.DeliverableId == @pp.DeliverableId)
            {
        <tr>
            <td>
                @p.PaymentTermTitle
            </td>
            <td>
                @p.PaymentTermAmount
            </td>
            <td>
                @p.PaymentTermDate
            </td>


            <td>
                @p.Deliverable.DeliverableName
            </td>

            
            <td>
                <a href="/PaymentTerm/EditPaymentTerm?PaymentTermId=@p.PaymentTermId">Edit</a>
            </td>
            <td>
                <a href="/PaymentTerm/DeletePaymentTerm?PaymentTermId=@p.PaymentTermId">Delete</a>
            </td>
        </tr>

            }
        }
    </tbody>

</table>
