
@using BMISBLayer.Entities
@model Project


<a class="btn btn-primary" href="/Project/NewProject">Create New Project</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Project Amount
            </th>
            <th>
                Project Type
            </th>
            <th>
                Project Status
            </th>

            <th>
                Contract File
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>

            <th>
                Project Phases
            </th>
            <th>
                Deliverables
            </th>
            <th>
                Client Name
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in (List<Project>)ViewBag.projects)
        {
            //var pp = p.ProjectId;
            //TempData["projectId"] = pp;

        <tr>
            <td>
                @p.ProjectName
            </td>

            <td>
                @p.ContractAmount
            </td>
            <td>
                @p.ProjectType.ProjectTypeName
            </td>
            <td>
                @p.ProjectStatus.Status
            </td>


            @*<td>
            @foreach (var pp in (List<ProjectPhase>)p.ProjectPhases)
            {


                @pp.ProjectPhaseName


            }
        </td>*@
            <td>
                <a class="btn btn-info" target="_blank" href="/Project/ViewContract?ProjectId=@p.ProjectId"> @p.ContractFileName</a>
            </td>
            <td>
                @p.StartDate.ToString("d")
            </td>
            <td>
                @p.EndDate.ToString("d")
            </td>

            <td>
                <a href="/ProjectPhases/Index?ProjectId=@p.ProjectId">Project Phases</a>
            </td>
            <td>
                <a href="/Deliverable/Index?ProjectId=@p.ProjectId">Deliverables</a>
            </td>
            <td>
                @p.Client.ClientName
            </td>
            <td>
                <a href="/Project/EditProject?ProjectId=@p.ProjectId">Edit</a>
            </td>
            <td>
                <a href="/Project/DeleteProject?ProjectId=@p.ProjectId">Delete</a>
            </td>
        </tr>

        }
    </tbody>

</table>