@using PMIS.DTOs
@using BMISBLayer.Entities
@model ViewDTO
@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @TempData["total1"]*@


@*@{decimal y = 0;
    foreach (var pp in p.InvoicePaymentTerms)
    {

        y = y + @pp.PaymentTerm.PaymentTermAmount;

    }
        }*@
@*@{
        var name = "";

        if (TempData.ContainsKey("total"))
        {
            name = TempData["total"] as string;
        }

    }

    <h2>   @name</h2>*@
@*<script>
    $(function Gettotal() {
        debugger;
        $.ajax({
            url: "/Invoice/GetTotal",
            method: "get",
            contentType: "application/json",
            success: function (t) {
                $("#tot").append("<h2>" + t + "</h2>")
                debugger;
                console.log(t)
                debugger;
            },
            error: function () { alert("sth went wrong"); },
        });
    })
    </script>*@



@*<table class="table table-striped">
    <thead>
        <tr>

            <th>
                Invoice ID
            </th>
            <th>
                Invoice Name
            </th>
            <th>
                Invoice Date
            </th>
            <th>
                Project Name
            </th>
            <th>
                Payment Terms Name
            </th>
            <th>
                TotalPaymentTerms
            </th>


            <th>
                PaymentTerms Amount
            </th>
            <th>
                Deliverable Names
            </th>
            <th>
                Client Name
            </th>
            <th>
                Client Email
            </th>
            <th>
                Client PhoneNumber
            </th>



        </tr>
    </thead>
    <tbody>

        @{ var p = (ViewDTO)ViewBag.Invoice;

                <tr>

                    <td>

                        @p.InvoiceId

                    </td>
                    <td>
                        @p.InvoiceTitle
                    </td>
                    <td>
                        @p.InvoiceDate
                    </td>

                    <td>
                        @p.Project.ProjectName
                    </td>
                    <td>
                        @{ foreach (var v in @p.InvoicePaymentTerm)
                            {
                                <div>
                                    @v.PaymentTerm.PaymentTermTitle
                                </div>
                            }
                        }
                    </td>
                    <td>
                        @{ foreach (var v in @p.Total)
                            {

                                var i = 0;
                                i = i + (int)v;

                                @i


                            }
                        }


                    </td>
                    <td>
                        @{ foreach (var v in @p.Total)
                            {

                                var i = 0;
                                i = i + (int)v;
                                <div>
                                    @i
                                </div>

                            }
                        }


                    </td>
                    <td>
                        @{ foreach (var v in @p.InvoicePaymentTerm)
                            {
                                <div>
                                    @v.PaymentTerm.Deliverable.DeliverableName
                                </div>

                            }
                        }
                    </td>
                    <td>
                        @p.Project.Client.ClientName
                    </td>
                    <td>
                        @p.Project.Client.Email
                    </td>
                    <td>
                        @p.Project.Client.PhoneNumber
                    </td>


                </tr>

        }
    </tbody>

</table>*@
