@using BMISBLayer.Entities
@model ProjectPhase



<a class="btn btn-primary" href="/ProjectPhases/NewProjectPhase">Create New Project Phase</a>
<div class="table-responsive">
    <table id="myTable" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectPhaseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deliverables)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<ProjectPhase>)ViewBag.projectPhases)
            {
                Project pp = (Project)ViewBag.Project;

                if (item.ProjectId == @pp.ProjectId)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phase.PhaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                   
                    <td>
                        @item.StartDate.ToString("d")
                    </td>
                    <td>
                        @item.EndDate.ToString("d")
                    </td>
                    <td>
                        <a class="text-success" href="/ProjectPhases/EditProjectPhase?ProjectPhaseId=@item.ProjectPhaseId"><i class="fa-regular fa-pen-to-square"></i></a> |
                        <a href="/Deliverable/Index?ProjectId=@item.ProjectId">Deliverables</a>|
                        <a class="text-danger" href="/ProjectPhases/DeleteProjectPhase?ProjectPhaseId=@item.ProjectPhaseId"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.6/sb-1.3.3/sp-2.0.1/sl-1.4.0/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.6/sb-1.3.3/sp-2.0.1/sl-1.4.0/datatables.min.js"></script>
    <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
    </script>


}
