@using BMISBLayer.Entities
@model Deliverable


<table class="table table-striped">
    <thead>
        <tr>
            
            <th>
                Deliverable Name
            </th>
            <th>
                Description
            </th>
           
            <th>
                Project phase
            </th>
            <th>
                Payment Terms
            </th>
            <th>
                ProjectName
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in (List<Deliverable>)ViewBag.Deliverables)
        {
            @*@foreach (var pp in (List<ProjectPhase>)ViewBag.ProjectPhase)
            {


                if (@p.ProjectPhaseId == @pp.ProjectPhaseId)
                {*@
                    <tr>
                        <td>
                            @p.DeliverableName
                        </td>
                        <td>
                            @p.DeliverableDescription
                        </td>
                       

                        <td>
                            @p.ProjectPhase.Phase.PhaseName
                        </td>
                        <td>
                            <a href="/PaymentTerm/Index?DeliverableId=@p.DeliverableId">Payment Term</a>
                        </td>
                       <td>
                           @p.ProjectPhase.Project.ProjectName
                       </td>
                    </tr>
                

        }
    </tbody>

</table>